.course-container {
   width: 90%;
   margin: 30vh auto;
   padding: 0px 20px;
}

.courses {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.course-image {
   flex: 1;
   margin-right: 40px;
   overflow: hidden;
}

.course-image img {
   width: 100%;
   height: auto;
   display: block;
}

/* .course-image img:hover {
   transform: scale(1.1);
} */

.course-heading h2 {
   width: 90%;
}

.course-content {
   flex: 1;
}

.course-types h2 {
   width: 90%;
   font-size: 2rem;
}

.course {
   display: flex;
   flex-direction: column;
   margin-bottom: 3vh;
}

.course-icon i {
   color: #fff;
   text-align: center;
   background: rgb(204, 60, 60);
   padding: 6px 6px;
   border-radius: 50px;
   font-size: 32px;
}

@media screen and (max-width: 768px) {
   .courses {
      flex-direction: column;
      padding: 20px;
   }

   .course-image {
      margin-right: 0;
      margin-bottom: 20px;
   }
}