.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        'header header'
        'sidebar main';
}

.dashboard-header {
    background-color: #fff;
    grid-area: header;
    align-content: center;
}

.dashboard-sidebar {
    background-color: var(--main-color);
    grid-area: sidebar;
}

.sidebar-items-container {
    padding: 10vh 1vw;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.navlink {
    font-size: 1.1rem;
    transition: 0.2s ease;

    &:hover {
        color: #fff;
        cursor: pointer;
    }
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 2vh 3vw;
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.nav-items i {
    color: var(--main-color);
    font-size: 23px;
}

.nav-items li {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.4s ease;

    &:hover {
        cursor: pointer;
        color: var(--main-color);
    }
}

.dashboard-main {
    background-color: #e5e6e9;
    grid-area: main;
    padding: 25px;
}
