/* ===front-banner=== */

.front-main-banner-picture {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.front-main-banner-picture img {
    width: 100%;
    height: 100vh;
    filter: brightness(0.75);
    object-fit: cover;
    object-position: top center;
}

.front-banner-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh 5vw;
    margin-top: 5vh;
}

.front-banner-text h3 {
    width: 110%;
    font-size: clamp(2rem, 5vw, 7rem);
    margin-bottom: 4vh;
    color: var(--main-color);
}

#banner-text-span {
    color: #f3f3f3;
}

.front-banner-text p {
    max-width: 60%;
    font-size: clamp(1.5rem, 1.8vw, 3rem);
    margin-bottom: 12vh;
    color: #fff;
}

#reserve-your-seat {
    display: flex;
    gap: 5px;
    background-color: var(--main-color);
    padding: 15px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: clamp(1.3rem, 1.5vw, 3rem);
    transition: 0.4s ease;
}

#reserve-your-seat:hover {
    transform: scale(1.1);
}

#schedule-btn {
    height: 9vh;
    background: #ffff00;
    padding: 0 1.5vw;
    border-radius: 50px;
    max-width: 100%;
}

#schedule-btn a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .front-banner-text p {
        max-width: 90%;
    }
}

@media screen and (max-width: 425pxpx) {
}
