:root {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-color: #ff6b5e;
    --bg-color: #222327;
    --text-color: #fff;
    --main-clr: #29fd53;

    --cta-btns: #ff6b5e;
    --nav-items: #212529;
    --nav-bg: #ffffff;

    --muted-green: #3d5a3a;
    --warm-biege: #f8e3c3;
    --deep-teal: #2b6777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

button,
input,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
