header {
    position: relative;
    z-index: 999;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 28px 6%;
    transition: all 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    font-weight: 600;
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 999;
    display: none;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: 0.2s;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 35vh;
        background: var(--main-color);
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
    }
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

    .navbar a:hover {
        color: #fff;
        transform: translateY(5px);
    }
    .navbar a.active {
        color: #fff;
    }

    .navbar.open {
        display: block;
        right: 0%;
    }
}

@media (max-width: 510px) {
    .logo span {
        font-size: 1.3rem;
    }
    .main a {
        margin-right: 16px;
        margin-left: 8px;
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .main a {
        font-size: 0.7rem;
    }

    .logo span {
        font-size: 1rem;
    }
}
