.signin-form {
    display: flex;
    justify-content: center;
    padding: 3vh 5vw;
}

.signin-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo i {
    color: var(--main-color);
    font-size: 36px;
    margin-right: 5px;
}

.site-logo span {
    font-size: 1.8rem;
}

.signin-text {
    text-align: justify;
    padding: 3vh 3vw;
}

.signin-field {
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #ffffff; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 2vh 3vw;
    height: 330px;
}

form {
    width: 100%;
}

.form-group input {
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 1.2rem;
    color: #111111;
}

.singin-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.singin-btn a {
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 50px;
}

#footer-text {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
