.tutor-container {
    display: flex;
    width: 100%;
}

.tutor-area {
    padding: 0 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutor-content {
    width: 100%;
}

.tutor-content {
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-text h3 {
    width: 100%;
    text-transform: capitalize;
    font-size: clamp(1.5rem, 2.3vw, 3rem);
    margin-bottom: 2vh;
}

.info-text h3 span {
    color: var(--main-color);
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    /* -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.info-text p {
    text-align: justify;
    font-size: clamp(1.3rem, 1.2vw, 1.8rem);
}

.tutor-benefits h3 {
    margin: 4vh 0px;
    font-size: clamp(1.5rem, 2.3vw, 3rem);
}

.tutor-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    padding: 0 20px;
}

.tutor-li li {
    padding: 5px 0;
    width: 90%;
    font-size: clamp(1.2rem, 1.2vw, 3rem);
    list-style: disc;
}

.tutor-image {
    /* flex: 1; */
    margin-left: 30px;
    overflow: hidden;
}

.tutor-image img {
    width: 100%;
    height: auto;
    display: block;
}

.tutor-btn {
    display: flex;
}

#become-an-instructor {
    background: var(--main-color);
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.3s ease;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin: 5vh 0;
}

#become-an-instructor:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .tutor-area {
        flex-direction: column;
        margin-top: 15vh;
    }

    .tutor-li {
        margin-bottom: 10vh;
    }

    .tutor-benefits h3 {
        margin-top: 8vh;
    }

    .tutor-content {
        width: 90%;
    }

    .tutor-btn {
        justify-content: center;
    }

    .tutor-image {
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .tutor-li {
        gap: 24vw;
    }
}
